{
  "presets": ["react", "es2015", "flow"],
  "plugins": ["transform-async-to-generator"],
  "env": {
    "development": {
      "plugins": [["react-transform", {
         "transforms": [{
            "transform": "react-transform-hmr",
            // if you use React Native, pass "react-native" instead:
            "imports": ["react"],
            // this is important for Webpack HMR:
            "locals": ["module"]
          }]
     }]]
    },
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
