{
  "baseAPI": "http://localhost:3001/v2/fleet",
  "baseAPIHub": "http://localhost:3001/v2/hub",
  "port": 8080,
  "defaultCountryCode": "+62",
  "defaultCountryID": 95,
  "locale": "id",
  "features": {
    "menuTMS": true
  },
  "defaultPaymentValues": [{
    "label": "Wallet",
    "value": 1
  }, {
    "label": "COD",
    "value": 2
  }],
  "volumetricFactor": 6000
}