.btnBase {
  border: 0;
  border-radius: 5px;
  background-color: #FF5A60;
  color: #fff;
  cursor: pointer;
}

.btnBase:hover {
  text-decoration: underline;
}

.btnBase.loading {
  display: inline-block;
  cursor: default;
  background-color: #aaa;
}

.btnBase.loading .spinner {
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;

  display: block;
  width: 100%;
  height: 100%;
}

.btnAction {
  border: 0;
  border-radius: 5px;
  border-color: #000000;
  background-color: #CCCCCC;
  color: #000000;
  cursor: pointer;
  padding: 2px;
  display: inline-block;
}

.greenButton {
    border: 0;
    border-radius: 5px;
    background-color: #4cc38e;
    color: #fff;
    cursor: pointer;
    min-width: 120px;
    min-height: 30px;
    margin-left: 5px;
}

.greenButton2 {
    border: 0;
    border-radius: 5px;
    background-color: #ffffff;
    color: #38b393;
    cursor: pointer;
    min-width: 120px;
    min-height: 30px;
    margin-left: 5px;
    border: solid 1px #d8d8d8;
    font-weight: bold;
}

.greenButton3 {
    border: 0;
    border-radius: 5px;
    background-color: #4cc38e;
    color: #fff;
    cursor: pointer;
    min-width: 120px;
    min-height: 30px;
    margin-left: 5px;
    font-weight: bold;
    padding: 15px;
}

.greenButton4 {
    border: 0;
    border-radius: 5px;
    background-color: #4cc38e;
    color: #fff;
    cursor: pointer;
    min-width: 350px;
    min-height: 30px;
    margin-left: 5px;
}

.redButton {
    border: 0;
    border-radius: 5px;
    background-color: #4cc38e;
    color: #fff;
    cursor: pointer;
    min-width: 120px;
    min-height: 30px;
    margin-left: 5px;
}
