.paginationDetail {
  float: left;
  font-size: 12px;
}

.paginationControl {
  float: right;
  font-size: 12px;
  margin-top: 3px;
}

.paginationItem li {
  display: inline-block;
}

.paginationItem a {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.paginationActive a {
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

.paginationTable {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-top: 0;
  padding: 10px 12px 0px;
  border-radius: 0px 0px 5px 5px;
}