.panel {
  border-radius: 5px;
  border: solid 1px #ccc;
}

.bottom {
  padding: 0 15px 45px;
}

.title {
  margin-top: 0;
  padding: 10px;
}

.top {
  /*background-color: #222D32;*/
  background-color: #371e38;
  color: #ccc;
  text-indent: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.modalBtn, .modalLink {
  padding: 8px;
  display: inline-block;
  margin-left: 4px;
  margin-top: 5px;
  float: right;
}

.modalLink:hover {
  color: #337ab7;
}

.top2 {
  /*background-color: #222D32;*/
  background-color: #371e38;
  color: #ccc;
  text-indent: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.glyph {
  position: relative;
  left: -13px;
}
