.wrapper {
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
}

.wrapper.show {
  display: block;
}

.wrapper h2, .wrapper h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.backdrop {
  background-color: #000;
  opacity: 0.5; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.backdropBlocking {
  background-color: #000;
  opacity: 0.8; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.modal {
  border-radius: 10px;
  width: 1000px;
  background-color: #fff;
  position: relative;
  padding: 20px;
  left: 0;
  right: 0;
  top: 100px;
  margin: 0 auto;
  width: 500px;
  margin-bottom: 70px;
}

.modalBtn,
.modalBtnY {
  padding: 8px;
  display: inline-block;
  margin-left: 4px;
  float: right;
}

.modalBtnY {
  background-color: #4cc38e !important;
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  border: solid 1px #c33;
  border-radius: 5px;
  display: inline-block;
  height: 20px;
  line-height: 23px;
  width: 20px;
  text-align: center;
  cursor: pointer;
}

.focusBtn {
  border: none;
  background: none;
  outline: none;
}

.focusBtn:focus {
  border: none;
  background: none;
  outline: none;
}

.focusBtn:active {
  border: none;
  background: none;
  outline: none;
}
