.wrapper {
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
}

.wrapper.show {
  display: block;
}

.wrapper h2, .wrapper h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.backdrop {
  background-color: #000;
  opacity: 0.5; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.backdropBlocking {
  background-color: #000;
  opacity: 0.8; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.modal {
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  padding: 20px 20px 50px;
  left: 0;
  right: 0;
  top: 100px;
  margin: 0 auto;
  width: 300px;
  margin-bottom: 70px;
  min-width: 300px;
  min-height: 100px;
}

.modalBtn,
.modalBtnY {
  padding: 8px;
  min-width: 50px;
  min-width: 100px;
  height: 100%;
  font-size: 14px;
  min-height: 40px;
  margin: 0 10px;
}

.modalBtnY {
  background-color: #4cc38e !important;
}

.modalBtn:focus,
.modalBtn:hover {
  background-color: #ff8b8f;
}

.modalBtnY:focus,
.modalBtnY:hover {
  background-color: #81d5af !important;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  border-radius: 5px;
  display: inline-block;
  height: 20px;
  line-height: 23px;
  width: 20px;
  text-align: center;
  cursor: pointer;
}

.focusBtn {
  border: none;
  background: none;
  outline: none;
}

.focusBtn:focus {
  border: none;
  background: none;
  outline: none;
}

.focusBtn:active {
  border: none;
  background: none;
  outline: none;
}

.btnContainer {
  clear: both;
  position: absolute;
  bottom: 10px;
  min-height: 40px;
  display: flex;
  width: calc(100% - 40px);
  justify-content: center;
}

.messageContainer {
  text-align: center;
  margin-top: 10px;
}