.contentTitle {
  color: #482647;
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
  text-transform: uppercase;
  margin-top: 0;
  display: inline-block;
}

.topRightBtn {
  float: right;
  font-size: 12px;
  padding: 8px;
  position: relative;
  top: -4px;
  margin-left: 10px;
}

.additionalTitle {
  display: inline-block;
  margin-left: 5px;
  color: #333;
  margin-top: 0;
}

.backButton {
  height: 30px;
  width: 30px;
  background-color: white;
  border: solid 1px black;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 10px;
}

.countItem {
  font-size: 20px;
  color: #2196f3;
  margin-left: 20px;
  font-family: Helvetica;
  font-weight: bold;
}

.countItemZero {
  color: #38b393;
}
