.consolidate {
  float: right;
  padding: 7px 12px;
  font-size: 14px;
}

.dealWithDriver {
  float: right;
  width: 100px;
  height: 30px;
  font-size: 14px;
}

.driver {
  color: #333;
  text-decoration: none;
}

.glyphRed {
  color: #c33;
  margin-right: 10px;
  height: 22px;
  display: inline-block;
}

.glyphGreen {
  color: #3c3;
  margin-right: 10px;
  height: 22px;
  display: inline-block;
}

.driverListItem {
  cursor: pointer;
  float: left;
  display: inline-block;
  width: 48%;
  border: solid 1px #333;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}

.assignBtn, .sealBtn {
  font-size: 14px;
  height: 33px;
  float: right;
  width: 65px;
}

.dropdown {
  width: 120px;
}

.sealBtn {
  margin-top: 10px;
}

.modalInput {
  display: inline-block;
  padding: 4px;
  margin-left: 4px;
  width: 159px;
}

.modalBtn {
  padding: 8px;
  display: inline-block;
  margin-left: 4px;
  float: right;
  margin-top: 6px;
}

.addBtn {
  float: none;
  margin-bottom: 0.5em;
}

.finderWrapper {
  position: absolute;
  background-color: #4f4335;
  top: -4px;
  right: 130px;
  border-radius: 5px;
  padding: 6px;
  color: #fff;
}

.finderLabel {
  padding-right: 5px;
  font-size: 12px;
}

.itemLabel {
  display: block;
  padding: 5px;
  width: 150px;
  float: left;
}

.itemValue {
  padding: 5px;
  display: block;
  margin-left: 150px;
}

.detailWrapper {
  border: solid 1px #ccc;
  border-radius: 5px;
  width: 48%;
  padding: 5px;
  float: left;
  margin-bottom: 15px;
}

.detailWrapper.right {
  float: right;
}

.detailsPanel {
  position: relative;
}

.weightEditBtn, .weightSaveBtn, .weightCancelBtn {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border: solid 1px #333;
}

.weightSaveBtn {
  background-color: #4F4335;
  top: 10px;
  right: 70px;
}

.weightSaveBtn:hover {
  background-color: #5F5345;
}

.weightCancelBtn {
  background-color: #fff;
  color: #333;
}

.weightCancelBtn:hover {
  background-color: #ccc;
  color: #333;
}
