.itemLabel {
    display: block;
    padding: 5px;
    width: 150px;
    float: left;
}
.itemValue {
    padding: 5px;
    display: block;
    margin-left: 160px;
    max-width: 350px;
    text-indent: 0px;
}

.addDriverButton {
    border: 0;
    border-radius: 5px;
    background-color: #FF5A60;
    color: #fff;
    cursor: pointer;
    padding: 5px;
}

.driverDetailsHeader {
    background-color: #222D32;
    color: #eee;
    text-indent: 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    clear: both;
}

.driverDetailsInformation {
    background-color: #eee;
    color: #000;
    text-indent: 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    clear: both;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.changePassword {
    background-color: #FF5A60;
    color: #fff;
    width: 150px;
    padding: 5px;
}