.dropdownBase {
  height: 20px;
  padding: 0 10px;
  margin-right: 5px;
}

.val {
  margin-right: 5px;
  display: inline-block;
}

.option {
  display: block;
  padding: 5px;
}

.option:hover {
  background-color: #337ab7;
  color: #fff;
  cursor: pointer;
}

.optionsWrapper {
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  border: solid 1px #ccc;
  border-radius: 3px;
}

.dropdownWrapper {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}
