.consolidate {
  float: right;
  padding: 7px 12px;
  font-size: 14px;
}

.dealWithDriver {
  float: right;
  width: 100px;
  height: 30px;
  font-size: 14px;
}

.driver {
  color: #333;
  text-decoration: none;
}

.glyphRed {
  color: #c33;
  margin-right: 10px;
  height: 22px;
  display: inline-block;
}

.glyphGreen {
  color: #3c3;
  margin-right: 10px;
  height: 22px;
  display: inline-block;
}

.driverListItem {
  cursor: pointer;
  float: left;
  display: inline-block;
  width: 48%;
  border: solid 1px #333;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}

.assignBtn, .sealBtn {
  font-size: 14px;
  height: 33px;
  float: right;
  width: 65px;
}

.dropdown {
  width: 120px;
}

.sealBtn {
  margin-top: 10px;
}

.modalInput {
  display: inline-block;
  padding: 4px;
  margin-left: 4px;
  width: 159px;
}

.modalBtn {
  padding: 8px;
  display: inline-block;
  margin-left: 4px;
  float: right;
  margin-top: 6px;
}

.addBtn {
  float: none;
  margin-bottom: 0.5em;
}

.finderWrapper {
  /*position: absolute;*/
  background-color: #4f4335;
  /*top: -4px;*/
  /*right: 130px;*/
  border-radius: 5px;
  padding: 6px;
  color: #fff;
  font-size: 14px;
  padding: 9px;
  margin-left: 10px;
}

.finderWrapper input {
  font-size: 14px;
}

.finderLabel {
  padding-right: 5px;
}

.itemLabel {
  display: block;
  padding: 5px;
  width: 150px;
  float: left;
}

.itemValue {
  padding: 5px;
  display: block;
  margin-left: 150px;
}

.detailWrapper {
  border: solid 1px #ccc;
  border-radius: 5px;
  width: 49%;
  padding: 0px;
  float: left;
  margin-bottom: 15px;
  position: relative;
}

.detailWrapper > * {
  padding: 5px;
}

.detailWrapper.right {
  float: right;
}

.detailsPanel {
  position: relative;
}

.detailWrapper input {
  font-size: 14px;
  width: 300px;
  padding-left: 10px;
  margin-left: 5px;
}

.btnColls {
  position: absolute;
  top: 0px;
  right: 5px;
}

.weightEditBtn, .weightSaveBtn, .weightCancelBtn {
  display: inline-block;
  padding: 10px;
  border: solid 1px #333;
}

.weightSaveBtn {
  top: 10px;
  right: 70px;
}

.weightCancelBtn {
  background-color: #fff;
  color: #333;
  margin-left: 8px;
}

.weightCancelBtn:hover {
  background-color: #ccc;
  color: #333;
}

.groupBtn {
  padding: 8px;
  font-size: 14px;
  margin-bottom: 10px;
}

.greenBtn, .weightSaveBtn {
  background-color: #4cc38e;
}

.greenBtn:hover {
  background-color: #5cd39e;
}

.greenBtnLoading {
  background-color: #aaa;
}

.pickupActionBtn {
  margin-right: 10px;
}

.accHeader {
  background-color: #222D32;
  color: #eee;
  text-indent: 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.checkbox {
    width: 10px !important;
}

.submitButton {
  background-color: #4cc38e;
  padding: 7px 15px 7px 15px;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #3eb881;
}

.togglePickup {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
  cursor: pointer;
}

.togglePickupActive {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
  border-bottom: 4px solid #2196f3;
  cursor: pointer;
  padding-bottom: 18px;
}

.blueSpan {
  color: #2196f3;
  font-weight: bold;
}

.arbitTogglePickup {
  color: #e8e8e8;
  height: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

.toggleAssign {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
  cursor: pointer;
  width: calc(33% - 2px);
  float: left;
  text-align: center;
}

.toggleAssignActive {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
  border-bottom: 6px solid #2196f3;
  cursor: pointer;
  width: calc(33% - 2px);
  float: left;
  text-align: center;
  padding-bottom: 16px;
}

.arbitToggleAssign {
  color: #e8e8e8;
  height: 64px;
  float: left;
}

.assignVendorBtn {
  width: 182px;
  height: 44px;
  border-radius: 4px;
  background-color: #ffa500;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #ffffff;
  float: right;
  margin-right: 20px;
}

.assignDriverBtn {
  width: 182px;
  height: 44px;
  border-radius: 4px;
  background-color: #38b393;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #ffffff;
  float: right;
}

.assignBtn {
  border-radius: 4px;
  background-color: #38b393;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
}

.table {
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-radius: 4px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-collapse: collapse;
  border-spacing: 0px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.table th {
  border: solid 1px #e8e8e8;
  padding: 12px;
}

.table td {
  border: solid 1px #e8e8e8;
  text-align: center;
}

.toggleReady {
  margin-top: 40px;
}

.toggleAssignMain {
  margin-top: 40px;
  height: 30px;
  border: solid 1px #e8e8e8;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}

.filterTop {
  margin-top: 40px;
}

.mainTable {
  height: 90px;
}

.modalTitle {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.modalClose {
  font-size: 26px;
  float: right;
  top: 10px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.modalDesc {
  float: left;
  width: 200px;
  padding-left: 20px;
}

.modalDesc2 {
  float: left;
  width: 90px;
}

.modalDesc3 {
  float: left;
  width: 40px;
}

.modalDesc4 {
  float: left;
  width: 160px;
  padding-right: 20px;
}

.modalDescBottom {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.borderDesc {
  height: 44px;
  float: left;
  background-color: #e8e8e8;
  width: 2px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 23px;
}

.mainLabelWebstore {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mainLabel {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.secondLabel {
  font-size: 12px;
  opacity: 0.5;
  margin-top: 20px;
}

.secondLabelVehicle {
  font-size: 12px;
  margin-top: 10px;
}

.mainAssignBox {
  margin-top: 25px;
  border: solid 2px #e8e8e8;
  border-radius: 4px;
  padding: 6px;
}

.vendorList {
  margin-top: 10px;
  background-color: #e8e8e8;
  height: 200px;
  overflow-y: scroll;
  border: solid 1px #e8e8e8;
}

.driverList {
  margin-top: 10px;
  background-color: #e8e8e8;
  height: 200px;
  overflow-y: scroll;
  border: solid 1px #e8e8e8;
}

.vendorInformation {
  background-color: #ffffff;
  vertical-align: middle;
  height: 72px;
  cursor: pointer;
}

.vendorInformationSelected {
  background-color: #ffffff;
  vertical-align: middle;
  height: 72px;
  border-radius: 4px;
  border: solid 2px #38b393;
  cursor: pointer;
}

.vendorInformationSelectedExceed {
  background-color: #ffffff;
  vertical-align: middle;
  height: 72px;
  border-radius: 4px;
  border: solid 2px #ff5a60;
  cursor: pointer;
}

.vendorInformationNone {
  background-color: #ffffff;
  vertical-align: middle;
  height: 72px;
  pointer-events: none;
  opacity: 0.5;
}

.buttonSplitNo {
  border: 0;
  border-radius: 5px;
  width: 80px;
  height: 44px;
  border-radius: 4px;
  background-color: #FF5A60;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  margin-left: 20px;
  margin-top: 15px;
  float: right;
}

.buttonSplitYes {
  border: 0;
  border-radius: 5px;
  width: 80px;
  height: 44px;
  border-radius: 4px;
  background-color: #38b393;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  margin-left: 20px;
  margin-top: 15px;
  float: right;
}

.vendorName {
  font-size: 18px;
}

.vendorWeight {
  font-size: 12px;
}

.driverName {
  font-size: 18px;
  font-weight: bold;
}

.driverWeight {
  font-size: 12px;
}

.driverWeightSelected {
  font-size: 12px;
  color: #ffa500;
}

.driverWeightSelectedExceed {
  font-size: 12px;
  color: #ff5a60;
}

.maskName {
  margin-left: 56px;
  margin-top: 28px;
  float: left;
  font-weight: bold;
}

.maskInput {
  margin-left: 16px;
  margin-top: 26px;
  float: left;
}

.maskPicture {
  margin-left: 40px;
  margin-top: 22px;
  float: left;
}

.driverMaskName {
  margin-left: 56px;
  margin-top: 16px;
  float: left;
}

.driverInput {
  margin-left: 16px;
  margin-top: 26px;
  float: left;
}

.driverPicture {
  margin-left: 40px;
  margin-top: 16px;
  float: left;
}

.maskLoad {
  width: 163px;
  height: 23px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #e8e8e8;
  float: right;
  margin-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
}

.driverMaskLoad {
  width: 163px;
  height: 23px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #e8e8e8;
  float: right;
  margin-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 2px;
}

.notesBelow {
  font-size: 13px;
  margin-top: 20px;
  width: 430px;
  float: left;
}

.buttonAssign {
  border: 0;
  border-radius: 5px;
  width: 160px;
  height: 44px;
  border-radius: 4px;
  background-color: #38b393;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  float: right;
  margin-top: 20px;
}

.buttonAssign:disabled {
  cursor: default;
  opacity: 0.5;
}

.vendorLoad {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #38b393;
}

.vendorLoadSelected {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #ffa500;
}

.vendorLoadSelectedExceed {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #ff5a60;
}

.vendorLoadImage {
  margin-left: 10px;
  margin-right: 10px;
  height: 18px;
}

.driverLocation {
  float: right;
  font-size: 11px;
}

/* The animation code */
@keyframes searchingIcon {
  0% {margin-left: -60px;}
  5% {margin-left: 60px;}
  10% {margin-left: -60px;}
  15% {margin-left: 60px;}
  20% {margin-left: -60px;}
  25% {margin-left: 60px;}
  30% {margin-left: -60px;}
  35% {margin-left: 60px;}
  40% {margin-left: -60px;}
  45% {margin-left: 60px;}
  50% {margin-left: -60px;}
  55% {margin-left: 60px;}
  60% {margin-left: -60px;}
  65% {margin-left: 60px;}
  70% {margin-left: -60px;}
  75% {margin-left: 60px;}
  80% {margin-left: -60px;}
  85% {margin-left: 60px;}
  90% {margin-left: -60px;}
  95% {margin-left: 60px;}
  100% {margin-left: 0px;}
}

.searchingDriver {
  margin-top: 30px;
  text-align: center;
}

.searchingIcon {
  animation-name: searchingIcon;
  animation-duration: 60s;
}

.searchingSpan {
  font-size: 16px;
  font-weight: bold;
  line-height: 2.5em;
}

.searchingNotes {
  line-height: 1.5em;
  width: 320px;
  margin-left: 165px;
}

.noOrder {
  background-color: #ffffff;
  height: 200px;
}

.noOrderDesc {
  margin-top: 80px;
  margin-bottom: 80px;
}

.autoGroupButton {
  border: 0;
  border-radius: 5px;
  width: 110px;
  height: 44px;
  border-radius: 4px;
  background-color: #ffa500;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  margin-left: 20px;
  margin-top: 25px;
  float: right;
  font-size: 14px;
  font-weight: bold;
}

.autoGroupButtonDisable {
  border: 0;
  border-radius: 5px;
  width: 110px;
  height: 44px;
  border-radius: 4px;
  background-color: #ffa500;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  margin-left: 20px;
  margin-top: 25px;
  float: right;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.5;
  pointer-events: none;
}

.manualGroupButton {
  border: 0;
  border-radius: 5px;
  width: 110px;
  height: 44px;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  margin-left: 20px;
  margin-top: 25px;
  float: right;
  font-size: 14px;
  font-weight: bold;
}

.manualGroupButtonDisable {
  border: 0;
  border-radius: 5px;
  width: 110px;
  height: 44px;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  margin-left: 20px;
  margin-top: 25px;
  float: right;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.5;
  pointer-events: none;
}

.modalOrderID {
  font-size: 18px;
  width: 400px;
  font-weight: bold;
}

.modalOrderWeight {
  font-size: 14px;
  opacity: 0.5;
  font-family: Helvetica;
}

.modalOrderMain {
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #eeeeee;
  padding: 10px;
  width: 550px;
}

.modalDescDetails {
  float: left;
  width: 400px;
  margin-left: 6px;
}

.modalDesc2Details {
  float: right;
  font-size: 12px;
  line-height: 1.5em;
  margin-right: 16px;
}

.topDescDetails {
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #e8e8e8;
  padding: 5px;
  margin-bottom: 20px;
  width: 550px;
  margin-top: 20px;
}

.mainLabelDetails {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2em;
}

.secondLabelDetails {
  font-size: 12px;
  line-height: 1.5em;
  opacity: 0.5;
}

.weightLabelDetails {
  font-size: 32px;
  font-weight: bold;
}

.unitWeightLabelDetails {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5em;
}

.cellButtonDisabled {
  border-radius: 4px !important;
  background-color: #38b393 !important;
  font-family: Helvetica !important;
  font-size: 12px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center !important;
  color: #ffffff !important;
  height: 32px !important;
  cursor: default;
  opacity: 0.5;
}

.noTransportation {
  text-align: center;
  margin-top: 60px;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.6;
}

.noPointer {
  cursor: default !important;
}

.link {
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.tripColumn {
  min-width: 100px;
  text-align: left !important;
}

.panelDriverSearch {
  text-align: center;
  padding-top: 10px;
}

.inputDriverSearch {
  background-color: #e8e8e8;
  border-radius: 4px;
  background-color: #f1f1f1;
  border: solid 1px #e8e8e8;
  width: 98%;
  height: 30px;
}

.clear-both {
  clear: both;
}
