.noMargin {
  margin: 0 !important;
}

.noPadding {
  padding: 0 !important;
}

.colMd1, .colMd2, .colMd3, .colMd4, .colMd5, .colMd6, .colMd7, .colMd8, .colMd9, .colMd10, .colMd11, .colMd12 {
  padding-right: 15px;
  padding-left: 15px; 
  min-height: 1px;
}

.colMd1 {
  width: 8.33333%;
  float: left;
}

.colMd2 {
  width: 16.66667%;
  float: left;
}

.colMd3 {
  width: 25%;
  float: left;
}

.colMd4 {
  width: 33.33333%;
  float: left;
}

.colMd5 {
  width: 41.66667%;
  float: left;
}

.colMd6 {
  width: 50%;
  float: left;
}

.colMd8 {
  width: 66.66666%;
  float: left;
}

.colMd9 {
  width: 75%;
  float: left;
}

.colMd12 {
  width: 100%;
  float: left;
}

.infoArea {
  display: flex;
  margin-bottom: 15px;
}

.thHeader {
  background-color: #fff;
}

.tableStatus {
  background: #eee;
  margin: 0;
  padding: 3px;
  border-radius: 5px;
}

.tick{
    background-image: url('../img/tick.png');
    background-size: 20px 20px;
    background-position: center; 
    background-repeat: no-repeat;
}

.stats h3 {
  margin-top: 0px;
}

.cod h3 {
  margin-top: 0px;
}

p.title {
  font-weight: bold;
}

.infoArea p.title {
  padding-bottom: 15px;
  border-bottom: 1px solid #333;
}

.mB15 {
  margin-bottom: 15px;
}

.mB30 {
  margin-bottom: 30px;
}

.actionButtoninside button {
  padding: 6px 12px;
  color: #fff;
  width: 100%;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  border-radius: 4px;
}

.btnAddon {
  background-color: #2196f3 !important;
  cursor: pointer;
}

.btnAddon a {
  color: #fff;
}

.orderStatus {
  padding: 5px 10px;
  background-color: #d8d8d8;
  border-radius: 5px;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}

.formInput {
  float: left;
}

.formLabel {
  padding-top: 7px;
  margin-right: 10px;
  float: left;
}

.addOrderBtn {
  padding: 6px 12px !important;
  color: #fff !important;
  margin-left: 20px !important;
  margin-bottom: 0 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.42857143 !important;
  border-radius: 4px !important;
}

.displayFlex {
  display: flex;
}

.greenBtn {
  background-color: #38b393 !important;
}

.filterDropDown span {
  font-size: 12px;
  color: #929292;
}

.filterDropDown div {
  margin-top: 5px;
  margin-bottom: 15px;
}

.filterDropDown > div > input {
  border: 1px solid #e8e8e8;
  border-right: 0px;
  padding: 8px;
  height: inherit;
}

.filterDropDown > div > span {
  border: 1px solid #e8e8e8;
  border-left: 0px;
  background-color: #fff;
}

.filterDropDown > div > span > span {
  top: 12px;
}

.filterDropDown > div > div {
  border: 0px;
  margin-top: 0px;
}

.filterDropDown > div > div > span {
  padding: 8px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff !important;
  color: #929292 !important;
}

.filterDropDown > div > div > span:hover, .filterDropDown > div > div > span:focus {
  background-image: url('/img/icon-checkmark.png');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position-x: 100%;
  background-position-y: 50%;
}