.remarksContainer {
  width: 500px;
  position: relative;
}

.remarksTitle {
  margin-right: 10px;
}

.remarksContent {
  margin-top: 5px;
}

.remarksContent textarea {
  width: 85%;
  height: 70px;
}

.remarksText {
  margin-right: 10px;
}

.remarksCancel {
  background-color: grey;
  width: 60px;
  height: 30px;
  display: block;
}

.remarksCancel:hover {
  background-color: darkgrey;
}

.remarksSave {
  margin-left: 286px;
  width: 60px;
  height: 30px;
  margin-top: 10px !important;
}

.remarksEdit {
  margin-top: 5px;
  text-decoration: underline;
  background-color: transparent;
}

.remarksEdit:hover {
  background-color: darkgrey;
}

.remarks-textarea {
  width: 85%;
  resize: none;
}

.remarks-textarea:disabled {
  border: 0;
  resize: none;
}

.float-right {
  float: right;
}
