.dropdown-list {
  width: 240px;
  height: 240px;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  background-color: #f1f1f1;
  right: 0;
  top: 50px;
}
