.google-plus {
  background-color: #ff5a60;
  padding: 15px 18px 15px 10px;
  border-right: 2px solid #bf3721;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  width: 3%;
  cursor: pointer;
}

.submit-btn {
  background-color: #ff5a60;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 8px 0 13px;
  font-size: 18px;
  width: 87.5%;
  color: #fff;
  border: 0;
  cursor: pointer;
}
