.google-container {
  border-right: 2px solid #bf3721;
  display: flex;
  align-items: center;
  justify-content: center;

  &__plus {
    background-color: #e04a32;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 9px 0;
}

.submit-btn {
  background-color: #e04a32;
  border-radius: 5px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  color: #fff;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
