.normalBtn {
  color: #333;
  background-color: #fff;
  border: solid 1px #ccc;
  padding: 8px;
  display: inline-block;
  margin-left: 4px;
}

.normalBtn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.modalBtn, .modalLink, .fillBtn, .driverBtn {
  padding: 8px;
  display: inline-block;
  margin-left: 4px;
  float: right;
}

.driverBtn {
  float: none;
}

.fillBtn {
  background-color: #4F4335;
  color: #fff;
}

.fillBtn:hover {
  background-color: #3F3325;
  color: #fff;
}

.fillDriverWrapper {
  display: inline-block;
  width: 280px;
}

.districtsWrapper {
  display: inline-block;
  width: 200px;
}

.buttonWrapper {
  display: inline-block;
}

@media screen and (max-width: 1200px) {
  .buttonWrapper {
    display: block;
    margin-top: 10px;
  }
}

.error {
  border: solid 1px #c33;
  border-radius: 3px;
}

.topRightBtnWrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.line {
  display: block;
  margin-bottom: 10px;
}

.remarksContent {
}

.remarksContent textarea {
  width: 400px;
  height: 70px;
}

.remarksCancel {
  background-color: grey;
  width: 60px;
  height: 30px;
}

.remarksCancel:hover {
  background-color: darkgrey;
}

.remarksSave {
  margin-left: 286px;
  width: 60px;
  height: 30px;
}

.remarksEdit {
  margin-top: 10px;
  width: 60px;
  height: 30px;
}