.normalBtn {
  color: #333;
  background-color: #fff;
  border: solid 1px #ccc;
}

.normalBtn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.modalBtn, .modalLink, .fillBtn, .driverBtn {
  padding: 8px;
  display: inline-block;
  margin-left: 4px;
  float: right;
}

.driverBtn {
  float: none;
}

.fillBtn {
  background-color: #4F4335;
  color: #fff;
}

.fillDriverWrapper {
  display: inline-block;
  width: 280px;
}

.error {
  border: solid 1px #c33;
  border-radius: 3px;
}
